@{
    ViewData["Title"] = "Home Page";
}

<table class="table">

   
    <tr>
        <th>Dpartment</th>
        <th>Section</th>
        <th>subject</th>
        <th>Image</th> 
    </tr>
     


</table>
